@use '../abstract' as a;

body {
  display: grid;
  justify-items: center;
  margin: var(--sp-1600) 0;

  @include a.breakpoint(medium){
    margin: 0;
  }
}

hr {
  border-bottom: 1px solid var(--clr-stone-150);
}